# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# testing folders
example/laplacian1D
example/DLRA_laplacian2D
example/DLRA_cartpole

# auxiliary files
example/DLRA_laplacian2D_lti_lyapunov/output.txt
example/DLRA_laplacian2D_lti_lyapunov/laplacian.gpp

# data files
*.npy

# swap & tmp files
*~
