# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# testing folder
example/laplacian1D
example/cartpole
example/DLRA_laplacian2D
example/DLRA_laplacian2D_abstract_lti/output.txt
example/DLRA_laplacian2D_abstract_lti/laplacian.gpp

# data files
*.npy

# swap & tmp files
*~
