name = "LightROM"
version = "0.1.0"
license = "BSD-3-Clause"
author = "Jean-Christophe"
maintainer = "loiseau.jc@gmail.com"
copyright = "Copyright 2024, Jean-Christophe"
description = "Lightweight fortran library for reduced-order modeling of LTI systems."

[build]
auto-executables = true
auto-tests = true
auto-examples = false
module-naming = false
external-modules = "mpi_f08"
link = ["blas", "lapack"]

[install]
library = true

[fortran]
implicit-typing = false
implicit-external = true
source-form = "free"

[dependencies]
stdlib = "*"
LightKrylov = { git = "https://github.com/nekStab/LightKrylov.git", branch = "dev"}

[dev-dependencies]
test-drive.git = "https://github.com/nekStab/test-drive"

[[example]]

name = "DLRA_laplacian2D_lti_lyapunov"
source-dir = "example/DLRA_laplacian2D_lti_lyapunov"

[example.dependencies]
rklib = { git="https://github.com/jacobwilliams/rklib.git" }

[[example]]

name = "DLRA_laplacian2D_lti_riccati"
source-dir = "example/DLRA_laplacian2D_lti_riccati"

[example.dependencies]
rklib = { git="https://github.com/jacobwilliams/rklib.git" }

[[example]]

name = "DLRA_ginzburg_landau"
source-dir = "example/DLRA_ginzburg_landau"

[example.dependencies]
rklib = { git="https://github.com/jacobwilliams/rklib.git" }
fortime = { git = "https://github.com/gha3mi/fortime.git" }
